 <div class="user-details">
  <h1> {{site.about_title}} </h1>
  <p> {{site.user_description}}</p>
  <h3>In a nutshell:</h3>
  <ul>
    <li>We develop new machine learning approaches to efficient predictive modeling and engineering optimization</li>
    <li>We collaborate with industrial companies and produce solutions, approved by the industry</li>
    <li>We constantly seek new advanced ML problems, their industrial applications and new collaboration</li>
  </ul>
  <h1>Research Areas</h1>
</div>
  <div class="user">
    <div class="tech">
      <h2>{{site.block1_title}}</h2>
      <img alt="{{site.block1_title}}" src="{{ "/assets/img/adase_1.png" | prepend: site.baseurl }}" />
      <p>{{site.block1_description}}</p>
    </div>
    <div class="tech">
      <h2>{{site.block2_title}}</h2>
      <img alt="{{site.block2_title}}" src="{{ "/assets/img/adase_2.jpg" | prepend: site.baseurl }}" />
      <p>{{site.block2_description}} gadaga</p>
    </div>
    <div class="tech">
      <h2>{{{site.block3_title}}</h2>
      <img alt="{{site.block3_title}}" src="{{ "/assets/img/adase_3.gif" | prepend: site.baseurl }}" />
      <p>{{site.block3_description}}</p>
    </div>
</div>
