<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
         <span class="site-description">{{site.username_full}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Contact us" href="#"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="LinkedIn" target="_blank" href="#"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="#"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>{{site.about_title}}</a>
        <a class="link" href="#news" data-scroll>{{site.news_title}}</a>
        <a class="link" href="#research" data-scroll>{{site.research_title}}</a>
        <a class="link" href="#teaching" data-scroll>{{site.teaching_title}}</a>
        <a class="link" href="#staff" data-scroll>{{site.staff_title}}</a>
        <a class="link" href="#projects" data-scroll>{{site.industry_title}}</a>
        <a class="link" href="#publications" data-scroll>{{site.publications_title}}</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
