<div class="row">
<div class="text-center col-xs-12 col-sm-3 col md-3 col-lg-3">
<img src="{{ site.baseurl }}/static/img/Duc.jpg" class="img-thumbnail" alt="" title="Hoàng Anh Đức" style="width:200px;margin-top:40px;">
</div>
<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
<h1>Hoàng Anh Đức</h1>
<p>
<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ site.email_personal_user | append:'@' | append: site.email_personal_domain | encode_email }}">{{ site.email_personal_user }}<i class="fa fa-at"></i>{{ site.email_personal_domain }}</a>.
<br /> <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ site.email_work_user | append:'@' | append: site.email_work_domain | encode_email }}">{{ site.email_work_user }}<i class="fa fa-at"></i>{{ site.email_work_domain }}</a>.
</p>
<p>
<i class="fa fa-globe" aria-hidden="true"></i> <a href="{{ site.website_full }}">{{ site.website }}</a>.
</p>
<address>
<i class="fa fa-institution" aria-hidden="true"></i> {{ site.institute_address }}, {{ site.institute_city }}, {{ site.institute_postcode }} {{ site.institute_country }}.
</address>
<p>
<i class="fa fa-user-circle-o" aria-hidden="true"></i> Đức's profile <i class="fa fa-at"></i>  {% for profile in site.data.academic_profiles %}
{% if profile != site.data.academic_profiles.last %}
<a href="{{ profile.link }}">{{ profile.title }}</a>,
{% else %}
and <a href="{{ profile.link }}">{{ profile.title }}</a>.
{% endif %}
{% endfor %}
</p>
<p>
<i class="fa fa-file-pdf-o" aria-hidden="true"></i> Đức's <a href="{{ site.baseurl }}/CV.pdf">Curriculum Vitae</a>.
</p>
</div>

</div>
