{%- assign width = include.width | default: 1 -%}
{%- assign height = include.height | default: 1 -%}
{%- assign size = width | times: height -%}
{%- assign group_begin = include.group_begin | default: '<div>' -%}
{%- assign group_end = include.group_end | default: '</div>' -%}

{%- assign i = 0 %}
{%- for container in include.containers %}
{%- assign mod = i | modulo: size %}
{%- if mod == 0 -%}
{{group_begin}}
{%- endif %}
{{container}}
{%- assign mod = mod | plus: 1 %}
{%- if mod == size %}
{{group_end}}
{%- endif %}
{%- assign i = i | plus: 1 %}
{%- endfor %}
{%- if mod != size %}
{{group_end}}
{%- endif -%}
