{%- assign containers = include.containers -%}
{%- assign slider_container_class = include.slider_container_class -%}
{%- assign class = include.class -%}
{%- assign group_begin = '<div class="slide-wrapper"><div class="' | append: class | append: '-grid">' -%}
{%- assign group_end = '</div></div>' -%}

<div class="{{class}}-slider-container">
    <div class="on-desktop on-landscape-tablet">
        <div class="slider">
            {% include _content/group_containers.html width=3 containers=containers group_begin=group_begin group_end=group_end %}
        </div>
    </div>
    <div class="on-portrait-tablet">
        <div class="slider">
            {% include _content/group_containers.html height=2 containers=containers group_begin=group_begin group_end=group_end %}
        </div>
    </div>
    <div class="on-smartphone">
        <div class="slider">
            {%- for container in containers %}
            <div class="slide-wrapper">
                {{container}}
            </div>
            {%- endfor %}
        </div>
    </div>
</div>
{{--}}
