{%- assign projects = include.projects -%}
{%- assign year = "9999" -%}
{%- assign first_list = true -%}
{%- if include.short -%}
{%- assign project_excerpt_html='_content/projects/project_excerpt_short.html' -%}
{%- else -%}
{%- assign project_excerpt_html='_content/projects/project_excerpt.html' -%}
{%- endif -%}

{%- for project in projects reversed %}
{%- assign project_year = project.date | date: '%Y' %}

{%- if project_year < year %}
{%- assign year = project_year %}
{%- if first_list %}
{%- assign first_list = false %}
<div class="project-list">
    {%- else %}
</div>
<div class="project-list">
    {%- endif %}
    <h2 id="{{year}}" class="anchor">{{year}}</h2>
    {%- endif %}
    {% include {{project_excerpt_html}} project=project %}
    {%- endfor %}
</div>
{{--}}
