{%- if include.hint -%}
{%- assign size = include.hint | size -%}
{%- else -%}
{%- assign size = 10 -%}
{%- endif -%}
{%- assign list_selector = include.list_selector | default: '.project-list' -%}

<form class="filter-form"><input type="text" id="{{include.id}}" placeholder="{{include.hint}}" size="{{size}}"></form>
<script>
    var input = document.getElementById('{{include.id}}');
    input.oninput = function () {
        filterProjects('{{include.selector}}', '{{include.child_selector}}', '{{list_selector}}', input.value);
    };
</script>
{{--}}