<header id="front-page-header">
	  <div id="particles-js"></div>
    <div class="header">
        <div class='titles'>
					  <div class="site-title">
							{{site.username}}
						</div>
						<div class="site-description">
							{{site.username_full}}<br>{{site.user_title}}
						</div>
        </div>
        <div class="header-icons">
            <a aria-label="Contact us" href="mailto:adase.group@gmail.com?subject=Contact ADASE Group"><i
                    class="icon fa fa-envelope"></i></a>
            <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/company/adase/"><i
                    class="icon fa fa-linkedin" aria-hidden="true"></i></a>
            <a aria-label="Github" target="_blank" href=""><i class="icon fa fa-github-alt"
                                                                                           aria-hidden="true"></i></a>
            <a aria-label="Twitter" target="_blank" href="https://twitter.com/adasegroup"><i class="icon fa fa-twitter"
                                                                                             aria-hidden="true"></i></a>
        </div>
        <div class="header-links">{% 
					  for site_page in site.data.adase.title_nav_bar %}{%
						assign first_href_symbol = site_page.href | slice: 0 %}{%
						if first_href_symbol == '#'
						%}<a class="link" href="{{site_page.href}}" data-scroll>{{site_page.title}}</a>{% 
						else %}<a class="link" href="{{site_page.href}}">{{site_page.title}}</a>{% 
						endif %}{% endfor 
				%}</div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</header>
{{--}}
