 <div class="user-details">
  <h1> {{site.about_title}} </h1>
  <p>The Advanced Data Analytics in Science and Engineering Group is a research organisation focused on the development of novel machine learning methods with industrial applications based at the Skolkovo Institute of Science and Technology (Skoltech). 
  The group is conformed by a research team consisting of academic experts, doctoral students and developers.</p>
  <h3>In a nutshell, we are</h3>
  <p>Developing novel predictive modeling & engineering optimization approaches<br/>
    Applying new advanced ML methods to industrial applications<br/>
    Collaborating closely with the industry
  </p>
  <h1>Research Areas</h1>
</div>
  <div class="user">
    <div class="tech">
      <h3>{{site.block1_title}}</h3>
      <img alt="{{site.block1_title}}" src="{{ "/assets/img/adase_1.png" | prepend: site.baseurl }}" />
      <p>{{site.block1_description}}</p>
    </div>
    <div class="tech">
      <h3>{{site.block2_title}}</h3>
      <img alt="{{site.block2_title}}" src="{{ "/assets/img/adase_2.png" | prepend: site.baseurl }}" />
      <p>{{site.block2_description}}</p>
    </div>
    <div class="tech">
      <h3>{{{site.block3_title}}</h3>
      <img alt="{{site.block3_title}}" src="{{ "/assets/img/adase_3.png" | prepend: site.baseurl }}" />
      <p>{{site.block3_description}}</p>
    </div>
</div>
