<div class="research-details">
  <h1> {{site.publications_title}} </h1>
<h2>2017</h2>
<p>
<strong>Datafusion for biological simulations: Application to toxins.</strong><br/>
Laugerotte, A., Zaytsev, A., Burnaev, et al (2016). <br/>
Toxicon, 123, S52-S53.
</p>
<p>
<strong>Minimax approach to variable fidelity data interpolation</strong> <br/>
Burnaev E., Zaytsev A. <br/>
(Under review at AISTAT, 2017).
</p>
<p>
<strong>Large Scale Variable Fidelity Surrogate Modeling</strong><br/>
Burnaev E., Zaytsev A. <br/>
(Accepted in Annals of Mathematics and Artificial Intelligence, 2017).
</p>
<p>
<strong>Effecient Design of Experiments for Sensitivity Analysis based on Polynomial Chaos Expansions</strong><br/>
Burnaev E., Panin I., Sudret B. <br/>
(Accepted in Annals of Mathematics and Artificial Intelligence, 2017).
</p>

<a href="#">More...</a>
</div>


