{%- assign news = include.plate_data -%}
{%- assign news_title = include.title | default: news.announcement | default: news.title -%}
{%- assign news_content = include.excerpt | default: news.excerpt -%}

<a class="news-plate" href="{{news.url}}">
    <div class="img-container-wrapper">
        <div class="img-container">
            {%- if news.thumbnail %}<img class="thumbnail" src="{{news.thumbnail}}">{% endif -%}
        </div>
    </div>
    <div class="data">
        <div class="news-date">{{news.date | date: '%e %B %Y'}}</div>
        <div class="news-title"><h4>{{news_title | strip_html}}</h4></div>
        <div class="news-content">{{news_content | strip_html}}</div>
    </div>
</a>
{{--}}
