{%- assign project = include.plate_data -%}
{%- assign name = include.name | default: project.title -%}
{%- assign venue = include.venue | default: project.venue -%}
{%- assign img = project.thumbnail | default: project.visual_abstract -%}

<a class="project-plate" href="{{project.url}}">
    <div class="img-container-wrapper">
        <div class="img-container">
            {%- if img %}<img class="thumbnail" src="{{img}}">{% endif -%}
        </div>
    </div>
    <div class="data">
        <div class="project-title"><h4>{{name | strip_html}}</h4></div>
        <div class="project-venue">{{venue | strip_html}}</div>
    </div>
</a>
{{--}}
