
/******************************************************************************/

// Typography

$small-font-size:  0.875rem !default;
$title: 4rem !default;
$h00: 4rem !default;
$h0: 3rem !default;
$h00-responsive: 8vw !default;
$h0-responsive: 6vw !default;
$h1-responsive: 4vw !default;
$h00-responsive-max: 7.68rem !default;
$h0-responsive-max: 5.76rem !default;
$h1-responsive-max: 3.84rem !default;
$abbr-border-bottom: 1px black dotted;

//// Page width
//$measure-width: 42rem !default;
//
//// Viewport widths
//$viewport-small: 32em;
//$viewport-medium: 48em;
$viewport-large: 64em;
$viewport-xlarge: 80em;

// Colors

//// Breakpoints
//$breakpoint-md: '(min-width: 52em)';
//$breakpoint-xl: '(min-width: 96em)';

// Whitespace
$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;

$horizontal-spacing-unit:       .5rem;
$vertical-spacing-unit:         .5rem;
$nav-height:                    3.5rem;

// Content width breakpoints
$on-palm:    950px;
$on-laptop:  1200px;
$content-width-on-palm: 600px;
$content-width-on-laptop: 900px;

// Buttons
$button-font-size: inherit !default;
$button-font-weight: normal !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 1rem !default;
$button-font-family: $heading-font-family;

// Forms
$form-field-font-size: 1rem !default;
$form-field-height: 2.25rem !default;
$form-field-padding-y: .5rem !default;
$form-field-padding-x: .5rem !default;

// Borders
$border-color: $light-gray !default;
$border-width: 1px !default;
$border-radius: 3px !default;

// Forms
$form-field-font-size: 1rem;
$form-field-height: 2.25rem;
$form-field-padding-y: .5rem;
$form-field-padding-x: .5rem;

// Code
$pre-border-radius: 0;
$pre-background-color: #fafafa;
$hljs-comment: $mid-gray;
$hljs-keyword: $dark-blue;
$hljs-name: $dark-gray;
$hljs-number: $dark-green;
$hljs-string: $red;
$hljs-title: $red;
$hljs-type: $dark-blue;
$hljs-tag: $dark-blue;
$hljs-attribute: $dark-green;
$hljs-regexp: $dark-green;
$hljs-symbol: $purple;
$hljs-built-in: $dark-blue;
$hljs-preprocessor: $mid-gray;
$hljs-deletion: $light-pink;
$hljs-addition: $light-green;
$hljs-change: $dark-blue;
$hljs-chunk: $light-gray;

// Header
$nav-height: 3.5em;

// Footer
$footer-border-top: thin solid $grey-color-dark;
$footer-padding: $space-1;
$footer-color: $light-gray;
$footer-bg-color: $grey-color-dark;
$footer-font-weight: 300;
$footer-font-size: .75rem;


/******************************************************************************/


/* portfolio tinkering */
$img_spacing: 5px;
$img-height: 275px;
$caption-font-size: 12px;
$caption-color: #aaa;


/******Nav bar *****/
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-line-height: 1.5;

$spacing-unit:     1.875em;

$clemson-purple:   #8c8c8c;
$clemson-orange:   #8c8c8c;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

/***** Team home *****/
$team-news-height: 10rem;

/***** Publications *****/

/***** Staff *****/
$photo-height:  8.75rem;
$photo-width: 6.875rem;

