<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include nav_bar.html %}
      {% include header.html %}
      <section id="about">
        {% include _main/about.html %}
      </section>
      <section id="news">
        {% include _main/news.html %}
      </section>
      <section id="research">
        {% include _main/research.html %}
      </section>
      <section id="staff">
        {% include _main/staff.html %}
      </section>
      <section id="news">
        {% include _main/teaching.html %}
      </section>
      <section id="projects">
        {% include _main/projects.html %}
      </section>
      <section id="publications">
        {% include _main/publications.html %}
      </section>
      <section id="contact">
        {% include _main/contact.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
