<!DOCTYPE html>
<html>

  {% include _global/head.html %}
  {% include _content/header.html %}

  <body>
<div class="content-layout">
  
      <div class="wrapper">

         
        <div class="content-layout-left">
      {{ content }}
      </div>
      
             <div class="content-layout-right">
        <h1>{{site.news_title}}</h1>
  {% if site.news  %}
    <table>
      {% for item in site.news reversed limit: site.news_limit %}
    
      <tr>
        <td class="date">{{ item.date | date: "%b %Y" }}</td>
        <td class="announcement">
          {% if item.inline %}
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {% else %}
            <a class="news-title" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
         </div>
    
      </div>
    </div>

    {% include _global/footer.html %}

    {% include _global/hemline.html %}
</div>
  </body>

</html>
