---
---

{{ reference }}

{% if entry.note %}
<p style="color:#ff0000">{{ entry.note }}</p>
{% endif %}

<p>
{% if entry.abstract %}
<a class="btn-lg my-btn-link" data-toggle="collapse" href="#{{ key }}-abstract"> Abstract </a>
{% endif %}
{% if entry.doi %}
<a class="btn-lg my-btn-link" href="http://dx.doi.org/{{ entry.doi }}" data-toggle="tooltip" title="doi:{{ entry.doi }}">DOI</a>
{% endif %}
{% if entry.arxivid %}
<a class="btn-lg my-btn-link" href="https://arxiv.org/abs/{{ entry.arxivid }}" data-toggle="tooltip" title="arXiv:{{ entry.arxivid }}">ArXiv</a>
{% endif %}
{% if entry.hdl %}
<a class="btn-lg my-btn-link" href="http://hdl.handle.net/{{ entry.hdl }}" data-toggle="tooltip" title="hdl:{{ entry.hdl }}">HDL</a>
{% endif %}
</p> 
{% if entry.abstract %}
<p id="{{ key }}-abstract" class="collapse text-muted">
	{{ entry.abstract }}
</p>
{% endif %}
