---
layout: default_full_body
---
{%- assign news_path_pattern = "_news/" | append: page.team -%}
{%- assign news = site.news | where_exp: 'item', 'item.path contains news_path_pattern' -%}
{%- assign news = news | concat: site.data[page.team].news | sort: 'date' | reverse -%}
{%- assign fancy_announcements = news | where: 'fancy', true | unshift: site.data[page.team].data.team_home_fancy_announcement -%}

<article id="team-home">
    <header id="team-home-header">
        {% include _content/team_home_slider.html announcements=fancy_announcements %}
    </header>
    <section id="team-home-content" class="centered-section">
        Coming soon...
    </section>
</article>
