{%- assign team = page.team | default: 'adase' -%}
{%- assign team_params = site.data.teams[team] -%}
{%- assign nav_bar = include.nav_bar | default: site.data[team].nav_bar | default: site.data['adase'].nav_bar -%}

<header id="page-header-wrapper">
    <div id="page-header">
        <span class="site-title"><a href="{{site.baseurl}}/">{{site.username}}</a>
        {%- if team_params.fullname %}
        <a class="site-title-team" href="{{site.baseurl}}/{{team}}">{{team_params.fullname}}</a>
        {%- endif -%}
        </span>
        <nav class="site-nav">
            {% include _content/nav_bar.html menu=nav_bar %}
        </nav>
    </div>
</header>
{{--}}
