<script src="//cdn.jsdelivr.net/npm/sweet-scroll@{{site.lib_versions.sweet_scroll}}/sweet-scroll.min.js"></script>
{%comment%}<script src="//code.jquery.com/jquery-{{site.lib_versions.jquery}}.min.js"></script>{%endcomment%}
<script src="//cdn.jsdelivr.net/npm/jquery@{{site.lib_versions.jquery}}/dist/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/kenwheeler/slick@{{site.lib_versions.slick}}/slick/slick.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/clipboard@{{site.lib_versions.clipboard}}/dist/clipboard.min.js"></script>
<script src="{{'/assets/js/main.js'|prepend: site.baseurl}}"></script>
{% if page.custom_js %}
<script src="{{'/assets/js/'|append: page.custom_js |prepend: site.baseurl}}"></script>
{% endif %}

{% if site.enable_katex %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/{{site.lib_versions.katex}}/katex.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/{{site.lib_versions.katex}}/katex.min.js"></script>
{% comment %}
<script src="{{ '/assets/js/katex.js' | prepend: site.baseurl | prepend: site.url }}"></script>
{% endcomment %}
{% endif %}

{% comment %}
<link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="{{ '/assets/css/academicons.min.css' | prepend: site.baseurl | prepend: site.url }}">
{% endcomment %}

{% include _global/google-analytics.html %}
